<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488040137399-pa9ir3e3jqbsp3lmc4b8e9fl2o4lf7gg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488040137399-pa9ir3e3jqbsp3lmc4b8e9fl2o4lf7gg</string>
	<key>API_KEY</key>
	<string>AIzaSyB4jMcbBA16SVpPTSSNTbb24n4MhkIsy0k</string>
	<key>GCM_SENDER_ID</key>
	<string>488040137399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.bsdsoft.contrast</string>
	<key>PROJECT_ID</key>
	<string>contrast-6b1c8</string>
	<key>STORAGE_BUCKET</key>
	<string>contrast-6b1c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488040137399:ios:81656b6cb2424cd0118332</string>
</dict>
</plist>